<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toegepaste Oefening (Casus)</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Toegepaste Oefening (Casus)</h1>
        <p>In een afgelegen dorp is er een gebrek aan schoon drinkwater. De inwoners zijn afhankelijk van oppervlaktewater dat vaak vervuild is. Er is een dringende behoefte aan betaalbare, duurzame waterfilters die de lokale bevolking zelf kan maken en gebruiken. </p>
        <form action="/case" method="POST">
            {% for framework, steps in frameworks.items() %}
                <h2>{{ framework }}</h2>
                {% for step in steps %}
                    <label for="{{ framework }}_{{ step }}">{{ step }}:</label><br>
                    <select name="{{ framework }}_{{ step }}" id="{{ framework }}_{{ step }}">
                        <option value="" disabled selected>Kies het juiste praktijkvoorbeeld</option>
                        {% for example_key, example_value in case_examples.items() %}
                            <option value="{{ example_value }}">{{ example_value }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                {% endfor %}
            {% endfor %}
            <button type="submit">Indienen</button>
        </form>
    </div>
</body>
</html>
